.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  list-style: none;
}
.item {
  padding: 10px;
  width: calc(100% / 3);
}
.name {
  font-size: 20px;
}
.role {
  font-style: italic;
  font-size: 16px;
  color: var(--dark-color);
}
